* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main {
  min-height: 80vh;
}

main li {
  text-align: center;
  padding: 10px;
}

li:hover {
  color: crimson;
  font-weight: bold;
  font-size: 16px;
}

footer {
  text-align: center;
}
